& {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #C95050;
  color: white;
}

.navbar {
  // margin-bottom: -5em;
}

.navbar, .content {
  z-index: 2;
}

.content {
  height: 100%;
  font-weight: 500;

}

.background {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

.scroll-indicator-container {
  z-index: 1;
  top: 90%;
  left: 50%;
  position: absolute;
  font-size: 2em;
}

.copy {
  span {
    opacity: 0;
    margin-left: -2em;
    margin-right: 2em;
    text-transform: uppercase;
    font-size: 3em;
  }
}

.image-container {
  margin-top: 2em;
  opacity: 0;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
