{{passive/scroll-down-indicator}}

{{navs/main-nav}}

<section>
  <div class="copy-container">
    <span>Juice Production is now effortless.</span>
  </div>
  <div class="image-container">
    <img src="images/ipad.png" alt="">
  </div>
</section>

<div class="background">
  {{elements/responsive-image
      fit='cover'
      src='images/juice_bar.jpg'}}
</div>
