{{navs/main-nav class="navbar"}}
<vbox class="content">
  <hbox>
    <hbox xs="12" md="6" class="copy" align="center" justify="center">
      <box xs="10" lg="8">
        Created by juice bar owners for juice bar owners.
      </box>
    </hbox>
    <hbox xs="12" md="6" class="image-container" justify="center">
      <box xs="11">
        <img src="images/ipad.png" alt="">
      </box>
    </hbox>
  </hbox>
</vbox>

<div class="background">
  {{elements/responsive-image
      fit='cover'
      src='images/juice_bar.jpg'}}
</div>
