&
  transition: width, 0.25s, background, 0.25s
  height: 100%
  width: 100%
  position: absolute
  z-index: 3

  .content
    position: relative
    margin-top: 3em
    overflow: hidden
    height: 100%

.full
  display: flex
  justify-content: space-between;
  text-transform: uppercase
  font-size: 1em
  letter-spacing: 0.2em
  padding: 1em 2em

  +below(600px)
    display: none

.compact
  position: fixed
  color: black
  text-transform: uppercase

  .links
    opacity: 0
    display: flex
    flex-direction: column

  +above(600px)
    display: none


&.menu-open
  background: white
  width: 100%

  .links
    opacity: 1

.ui-container
  position: fixed
  top: 0
  right: 0
