<div class="full">
  {{link-to "You Pressed" "index" class="nav-link" invokeAction="closeMenu"}}
  <a href="https://app.youpressed.com/login" class="nav-link">Login</a>
</div>

<div class="compact">
  <div class="links">
    {{link-to "Login" "index" class="nav-link" invokeAction="closeMenu"}}
  </div>

  <div class="ui-container">
    <button class="hamburger hamburger--slider {{isActive}}" type="button" {{action "toggle"}}>
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
  </div>
</div>
