<centered class="navbar" justify="between">
  <hbox fit>
    <span class="logo">You Pressed</span>
  </hbox>
  <hbox fit>
    <hbox fit class="navitem">About</hbox>
    <hbox fit class="navitem">Blog</hbox>
    <hbox fit class="navitem">Support</hbox>
    <hbox fit class="navitem">Login</hbox>
  </hbox>
</centered>
