&
  min-height: 30em
  display: flex
  flex-direction: column
  flex: 1
  align-items: center
  justify-content: center

.header
  font-size: responsive 30px 50px
  font-range: 420px 1280px
  text-transform: uppercase
  text-align: center

.sub
  font-size: responsive 20px 30px
  font-range: 420px 1280px
  text-align: center
  padding: 1em 0 2em 0

.signup-button
  font-weight: 300
  color: white
  background: #FF5F00
  font-size: 2em
  justify-content: center
  align-items: center

  .icon-container
    margin-right: 1em
    order: -1
