<div class="header">
  It's just $30 per month
</div>
<div class="sub">
  Sign up right now and get started
</div>

{{ui/async-button
    class='signup-button'
    label='Sign Up Now'
    icon='arrow-right'
    onClick=(action 'signup')}}
