<div class="header">
  It's just $79 a month
</div>
<div class="sub">
  <div class="line">
    Stop overwhelming yourself with tedious math equations.
  </div>
  <div class="line">
    Clean, easy to use production sheets in under 1 minute.
  </div>
  <div class="line large">
    No contract. Cancel anytime.
  </div>
</div>

{{ui/async-button
    class='signup-button'
    label='Get You Pressed'
    icon='arrow-right'
    onClick=(action 'signup')}}
