{{passive/scroll-down-indicator}}

<div>
  <span>You Pressed makes creating production sheets a breeze.</span>
  <div class="solution-image-container">
    <img src="images/simple_grid.png" alt="">
  </div>
</div>
<div>
  <img src="images/iphone.png" alt="">
</div>
