<div class="content">
  <div class="copy-container">
    <span class="copy">You Pressed makes creating production sheets a breeze.</span>
    <div class="solution-image-container">
      <img src="images/simple_grid.png" alt="">
    </div>
  </div>
  <div class="phone-container">
    <img src="images/iphone.png" alt="">
  </div>
</div>
