{{passive/scroll-down-indicator}}

<div class="content-container">
  <div class="fruit-container">
    <img src="images/juice_production_problem.png">
  </div>

  <div class="typewriter-container"></div>

  <div class="scale-container">
    <img src="images/scale.svg">
  </div>
</div>
