<div class="header">
  In two steps
</div>
<div class="steps">
  <div class="step step-1">
    <img src="images/step_1.svg" alt="">
  </div>
  <div class="step step-2">
    <img src="images/step_2.svg" alt="">
  </div>
</div>
